@import "styles/theme";
.header {
  padding: 33px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  transition: all .5s ease-in-out;

  &.white {
    background-color: rgba(255,255,255,0.9);

    .navList > li > a {
      color: black;
    }
  }
}

.navList {
  display: flex;

  > li {
    margin-right: 40px;
    color: $color-secondary;
  }

  :last-child {
    margin-right: 0;
  }

  .navItem {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-tertiary;
      transform: scale(0);
      transition: transform .3s ease-out;
    }

    &:hover:after {
      transform: scale(1);
    }
  }
}

@media screen and (max-width: 1500px) {
  .header {
    padding: 33px 100px;
  }
}
