@import "styles/theme";

.projects {
  padding: 80px 0 180px 0;
}

.projectsLogo {
  width: 123vw;
  position: relative;
}

.wrapper {
  margin-bottom: 40px;
  padding: 84px 200px 0;
}

.projects_title {
  margin-top: 40px;
  margin-bottom: 70px;
  font-family: $font-family-bold;
  font-size: $font-size-h5title;
  color: $color-tertiary;
}

.slide {
  padding: 0 20px;
}

.cardPic {
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  height: 30vw;
  max-height: 460px;
}

.cardTitle {
  margin-bottom: 27px;
  font-family: $font-family-semiBold;
  font-size: $font-size-h4title;
}

.cardDescription {
  font-family: $font-family-regular;
}

.partnersItem {
  position: relative;
  width: 20vw;
  height: 10vw;
  max-width: 293px;
  max-height: 136px;
}

@media screen and (max-width: 1450px){
  .wrapper {
    padding: 84px 100px 0;
  }
}
