@import "styles/theme";

.servicePage {
  background-color: $color-primary;
}

.sectionPromo {
  padding: 290px 560px 200px 200px;
  position: relative;
}

.sectionBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.5;
}

.servicePage_title {
  font-family: $font-family-bold;
  font-size: $font-size-h1title;
  color: $color-secondary;
  position: relative;
  z-index: 100;
}

.sectionContent {
  padding: 125px 200px;
  font-family: $font-family-medium;
  font-size: $font-size-main;
  color: $color-secondary;

  & > * {
    margin-bottom: 20px;
  }
}

.content_title {
  font-family: $font-family-semiBold;
  font-size: $font-size-h4title;
}

.repairInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.repairInfo_item {
  margin-bottom: 70px;
  padding-top: 50px;
  flex: 0 0 45%;

  & > h4 {
    font-size: $font-size-h5title;
    margin: 0 0 30px 20px;
  }
  & > p {
    font-family: $font-family-regular;
    font-size: $font-size-main;
    padding:0 0 10px 10px;
    margin-bottom: 20px;
    position: relative;
    opacity: 0.8;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: white;
    }

    &:last-child:after {
      content: none;
    }
  }
}

.contacts {
  display: flex;
  justify-content: space-between;

  & > * {
    flex: 0 0 45%;
  }

  & > div {
    display: flex;
    flex-direction: column;
  }
}

.contacts_link {
  margin-right: 20px;
  margin-bottom: 20px;

  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 850px) {
  .sectionPromo {
    padding: 141px 185px 96px 28px;
    position: relative;
  }
  .sectionContent {
    padding: 29px 27px;
  }
}

