@import "styles/theme";
.slider {
  overflow: hidden;
  position: relative;
}

.sliderShadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 25%;
  z-index: 100;

  &.shadowLeft {
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    left: 0;
  }

  &.shadowRight {
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    right: 0;
  }


}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 1.3s ease-in-out;
}

.infiniteSlidesGroup {
  display: flex;
  min-width: 100%;
  height: 100%;
}

.sliderArrow {
  padding: 2px;
  display: flex;
  align-items: center;
  width: fit-content;
  background: transparent;
  border: transparent;
  transition: transform 0.1s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;

  &:hover {
    transform: translateY(-50%) scale(1.05);
  }

  &:active {
    transform: translateY(-50%) scale(0.95);
  }

  &.left {
    left: 15px;
  }

  &.right {
    right: 15px;
  }
}

.scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);

  &:last-child {
    margin-right: 0;
  }
}

.scrollPoint {
  margin-right: 20px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;

  &.active {
    background-color: $color-tertiary;
    border: none;
  }
}
