@import "styles/theme";

.slider {
  width: 100%;
  height: fit-content;
  position: relative;
}

.viewport {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.slidesBox {
  width: 100%;
  display: flex;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

.sliderArrow {
  padding: 2px;
  display: flex;
  align-items: center;
  width: fit-content;
  background: transparent;
  border: transparent;
  transition: transform 0.1s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;

  &:hover {
    transform: translateY(-50%) scale(1.05);
  }

  &:active {
    transform: translateY(-50%) scale(0.95);
  }
}

.scroll {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);

  &:last-child {
    margin-right: 0;
  }
}

.scrollPoint {
  margin-right: 20px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;

  &.active {
    background-color: $color-tertiary;
    border: none;
  }
}

.shadow {
  height: 100%;
  background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;

  &.left {
    left: 0;
    transform: rotate(180deg);
  }
  &.right {
    right: 0;
  }
}

@media screen and (max-width: 650px){
  .sliderArrow {
    max-width: 19px;
  }
}
