@import "styles/theme";

.privilege {
  padding: 170px 200px;
}

.privilegeList {
  display: flex;
  flex-wrap: wrap;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
  flex: 0 0 33.3333%;
}

.itemIcon {
  margin-left: 20px;
}

.itemLine {
  margin: 20px 0;
}


@media screen and (max-width: 1500px) {
  .privilege {
    padding: 170px 100px;
  }
}
