@import "styles/theme";

.promo {
  position: relative;
}

.title {
  max-width: 880px;
  font-family: $font-family-bold;
  color: $color-tertiary;
  font-size: $font-size-h1title;
  line-height: 92.85px;
}

.subtitle {
  font-size: $font-size-h3title;
  color: $color-secondary;
  max-width: 880px;
}

.curtain {
  padding: 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.7);
}


.videoBackground {
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1450px) {
  .curtain {
    padding: 0 100px;
  }
}

@media screen and (max-width: 650px) {
  .videoBackground {
    min-height: 347px;
  }

  .curtain {
    padding: 0 27px;
  }

  .title {
    Line-height: 100%;
    text-align: Center;
  }

  .subtitle {
    text-align: center;
  }
}
