@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Regular");
  font-weight: normal;
  font-style: normal;
}

$font-family-main: Gilroy, sans-serif;
$font-size-main: calc( (100vw - 320px)/(1980 - 320) * (24 - 20) + 20px);
$font-size-h1title: calc( (100vw - 320px)/(1980 - 320) * (80 - 24) + 24px);

$color-primary: rgb(0,0,0);
$color-secondary: rgb(255, 255, 255);
$color-tertiary: rgba(255, 92, 0, 1);

