@import "styles/theme";

.autopark {
  padding: 63px 0 100px 0;
  background-color: black;
  color: $color-secondary;
}

.autoparkLogo {
  width: 152vw;
  min-width: 902px;
  position: relative;
}

.wrapper {
  padding: 100px 200px;
}

.autoparkBlock {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: stretch;
  align-items: center;

  & > h4 {
    font-family: $font-family-semiBold;
    font-size: $font-size-h4title;
    justify-self: center;
  }
}

.slide {
  position: relative;
  height: 25vw;
  min-height: 226px;
  max-height: 400px;
  min-width: 100%;
}

@media screen and(max-width: 1450px) {
  .wrapper {
    padding: 100px 100px;
  }
}

@media screen and(max-width: 650px) {
  .autopark {
    padding: 55px 0 55px 0;
    background-color: black;
    color: $color-secondary;
  }

  .wrapper {
    padding: 55px 0;
  }

  .autoparkBlock {
    grid-template-columns: 1fr;
    gap: 23px;
    grid-template-rows: none;

    & > h4 {
      text-align: center;
    }
  }
}

